*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Casino';
  src: url("fonts/Casino.ttf");
}

@font-face {
  font-family: 'GillSans';
  src: url(fonts/Gill\ Sans.otf);
}

@font-face {
  font-family: 'GillSansBold';
  src: url(fonts/Gill\ Sans\ Bold.otf);
}

body {
  background-image: url(images/tapis-poker.jpg);
  background-size: cover;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem 0 0;
  font-family: 'Casino', sans-serif;
}

nav a {
  color: #FFF;
}

header .header-title {
  margin: 3rem 0 0;
  text-align: center;
  font-size: clamp(4rem, 8vw, 8rem);
  color: #FFF;
  animation: blink 1.5s infinite alternate;
}

/* @keyframes blink {
  0%, 10%, 25%, 27%, 53%, 54%, 75%, 100% {
    text-shadow: 
    .1vw 0vw .25vw #38c002,
    .1vw 0vw .25vw #38c002,
    .1vw 0vw .1vw #2b8707,
    .15vw 0vw .1vw #2b8707,
    .2vw 0vw .1vw #2b8707,
    .1vw 0vw 2vw #206404,
    .15vw 0vw 2vw #206404,
    .1vw 0vw 2vw #206404,
    .1vw 0vw 1vw #154302,
    .15vw 0vw 1vw #154302
  }
  24%, 34%, 52%, 70% {
    text-shadow:
    .0vw 0vw .5vw #38c002,
    .0vw 0vw .5vw #38c002,
    .0vw 0vw .2vw #2b8707,
    .05vw 0vw .1vw #2b8707,
    .0vw 0vw .1vw #2b8707,
    .0vw 0vw 1vw #206404,
    .05vw 0vw 2vw #206404,
    .0vw 0vw 1vw #206404,
    .0vw 0vw 1vw #154302,
    .05vw 0vw 0vw #154302
  }
  30%, 85% {
    text-shadow: none;
  }
}

@keyframes blink {
  0%, 10%, 25%, 27%, 53%, 54%, 75%, 100% {
    text-shadow: 
    .1vw 0vw .25vw #f84205,
    .1vw 0vw .25vw #f84205,
    .1vw 0vw .1vw #f84205,
    .15vw 0vw .1vw #b93205,
    .2vw 0vw .1vw #b93205,
    .1vw 0vw 1vw #b93205,
    .15vw 0vw 2vw #892402,
    .1vw 0vw 1vw #892402,
    .1vw 0vw 1vw #892402,
    .15vw 0vw 1vw #892402
  }
  24%, 34%, 52%, 70% {
    text-shadow:
    .0vw 0vw .5vw #f84205,
    .0vw 0vw .5vw #f84205,
    .0vw 0vw .2vw #f84205,
    .05vw 0vw .1vw #b93205,
    .0vw 0vw .1vw #b93205,
    .0vw 0vw 1vw #b93205,
    .05vw 0vw 2vw #892402,
    .0vw 0vw 1vw #892402,
    .0vw 0vw 1vw #892402,
    .05vw 0vw 0vw #892402
  }
  30%, 85% {
    text-shadow: none;
  }
} */

@keyframes blink {
  0%, 10%, 25%, 27%, 53%, 54%, 75%, 100% {
    text-shadow: 
    .1vw 0vw .25vw #0593f8,
    .1vw 0vw .25vw #0593f8,
    .1vw 0vw .1vw #0593f8,
    .15vw 0vw .1vw #0268b0,
    .2vw 0vw .1vw #0268b0,
    .1vw 0vw 1vw #0268b0,
    .15vw 0vw 2vw #013860,
    .1vw 0vw 1vw #013860,
    .1vw 0vw 1vw #013860,
    .15vw 0vw 1vw #013860
  }
  24%, 34%, 52%, 70% {
    text-shadow:
    .0vw 0vw .5vw #0593f8,
    .0vw 0vw .5vw #0593f8,
    .0vw 0vw .2vw #0593f8,
    .05vw 0vw .1vw #0268b0,
    .0vw 0vw .1vw #0268b0,
    .0vw 0vw 1vw #0268b0,
    .05vw 0vw 2vw #013860,
    .0vw 0vw 1vw #013860,
    .0vw 0vw 1vw #013860,
    .05vw 0vw 0vw #013860
  }
  30%, 85% {
    text-shadow: none;
  }
}

header img {
  width: clamp(100px, 9vw, 10rem);
  z-index: 1;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.cards-deck {
  margin: auto;
  margin-bottom: 1rem;
  width: clamp(20rem, 65vw, 50rem);
}

.play-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-radius: 0.5em;
  width: 7rem;
  height: 2em;
  font-weight: bold;
  font-family: 'Casino';
  letter-spacing: 0.1em;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
  background: #FFF;
  color: #000;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
}

.play-button:hover {
  color: #0593f8;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration:none;
    font-family: 'Casino';
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.045em;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    stroke: #0593f8;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span{
  color: #FFF;
  animation: blink 1.5s .4s infinite alternate;
}

.btn:hover {
  color: #0593f8;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

/* MEDIA QUERIES */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
  body {
    background-position: center;
  }

  .box-container {
    flex-direction: column;
  }
}