*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Casino';
  src: url("fonts/Casino.ttf");
}

@font-face {
  font-family: 'GillSans';
  src: url(fonts/Gill\ Sans.otf);
}

@font-face {
  font-family: 'GillSansBold';
  src: url(fonts/Gill\ Sans\ Bold.otf);
}

body {
  background-image: url(images/tapis-poker.jpg);
  background-size: cover;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem 0;
  font-family: 'Casino', sans-serif;
}

.nav {
  position: absolute;
  left: 0;
  top: 3rem;
  color: #FFF;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  transition: all .1s ease-in-out;
  text-decoration: none;
}

.nav p {
  padding-left: .5rem;
}

.nav:hover {
  color: #0593f8;
}

header .header-title {
  margin: 3rem 0 0;
  text-align: center;
  font-size: clamp(3rem, 7vw, 7rem);
  color: #FFF;
  animation: blink 1.5s infinite alternate;
}

/* @keyframes blink {
  0%, 10%, 25%, 27%, 53%, 54%, 75%, 100% {
    text-shadow: 
    .1vw 0vw .25vw #38c002,
    .1vw 0vw .25vw #38c002,
    .1vw 0vw .1vw #2b8707,
    .15vw 0vw .1vw #2b8707,
    .2vw 0vw .1vw #2b8707,
    .1vw 0vw 2vw #206404,
    .15vw 0vw 2vw #206404,
    .1vw 0vw 2vw #206404,
    .1vw 0vw 1vw #154302,
    .15vw 0vw 1vw #154302
  }
  24%, 34%, 52%, 70% {
    text-shadow:
    .0vw 0vw .5vw #38c002,
    .0vw 0vw .5vw #38c002,
    .0vw 0vw .2vw #2b8707,
    .05vw 0vw .1vw #2b8707,
    .0vw 0vw .1vw #2b8707,
    .0vw 0vw 1vw #206404,
    .05vw 0vw 2vw #206404,
    .0vw 0vw 1vw #206404,
    .0vw 0vw 1vw #154302,
    .05vw 0vw 0vw #154302
  }
  30%, 85% {
    text-shadow: none;
  }
}

@keyframes blink {
  0%, 10%, 25%, 27%, 53%, 54%, 75%, 100% {
    text-shadow: 
    .1vw 0vw .25vw #f84205,
    .1vw 0vw .25vw #f84205,
    .1vw 0vw .1vw #f84205,
    .15vw 0vw .1vw #b93205,
    .2vw 0vw .1vw #b93205,
    .1vw 0vw 1vw #b93205,
    .15vw 0vw 2vw #892402,
    .1vw 0vw 1vw #892402,
    .1vw 0vw 1vw #892402,
    .15vw 0vw 1vw #892402
  }
  24%, 34%, 52%, 70% {
    text-shadow:
    .0vw 0vw .5vw #f84205,
    .0vw 0vw .5vw #f84205,
    .0vw 0vw .2vw #f84205,
    .05vw 0vw .1vw #b93205,
    .0vw 0vw .1vw #b93205,
    .0vw 0vw 1vw #b93205,
    .05vw 0vw 2vw #892402,
    .0vw 0vw 1vw #892402,
    .0vw 0vw 1vw #892402,
    .05vw 0vw 0vw #892402
  }
  30%, 85% {
    text-shadow: none;
  }
} */

header img {
  width: clamp(100px, 9vw, 10rem);
  z-index: 1;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.box {
  min-width: 380px;
  min-height: 600px;
  perspective: 1000px;
  margin: 4rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  font-family: 'GillSans';
}

.box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  border-radius: 20px;
}

/* .box:hover .box-inner {
  transform: rotateY(180deg);
} */

.box-front,
.box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
}

.box-4 .box-front {
  background-image: url(images/front-face6-01.png);
}

.box-2 .box-front {
  background-image: url(images/front-face5-01.png);
}

.box-3 .box-front {
  background-image: url(images/front-face7-01.png);
}

.box-front {
  color: #111111;
  background-image: url(images/front-face3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  height: fit-content;
  /* max-height: 800px; */
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.box-back {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: fit-content;
  padding: 2rem;
  background-image: url(images/BACKFACE.png);
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #000;
  transform: rotateY(180deg);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 3px 3px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.box-back h2 {
  font-family: 'GillSansBold';
}

.box:active .box-inner {
  transform: scale(.97);
  transition: transform .2s;
}

.box.flip .box-inner {
  transform: rotateY(540deg);
}

.box.fade-out .box-inner {
  opacity: 0;
  transition: opacity 2s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

/* MEDIA QUERIES */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  body {
    background-position: center;
  }

  .box-container {
    flex-direction: column;
  }

  .box {
    margin: 6rem 0;
  }
}